<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Marvel Characters</title>
	</head>

	<body>

		<h3>Add new people:</h3>
		<form id="addcharacter" action="/character" method="post">
		    Name: <input type="text" name="name"><br>
		    Home planet: <select name="homeworld">
		        {{#each planets}}
		        <option value="{{id}}">{{name}}</option>
		        {{/each}}
		    </select><br>
		    Alignment: <input type="radio" name="alignment" value="good">Good
		    <input type="radio" name="alignment" value="good">Evil<br>
		    <input type="submit" value="Submit">
		 </form>
		<br/>


		<!-- vv WORK IN PROGRESS vv -->

		<form id='filter_characters' action='' method=''>
		<!--- this form does not submit directly, the button handles all the interaction with backend -->
		    <label> Filter by home planet: </label>
		    <select id='homeplanet_filter' name="homeplanet">
		        {{#each planets}}
		        <option value="{{id}}">{{name}}</option>
		        {{/each}}
		    </select><br>
		    <input type="button" value="Filter" onclick="filterCharactersByPlanet()"><br><br>

		    <label> Filter by alignment: </label>
		    <input type="radio" name="alignment" value="good">Good
		    <input type="radio" name="alignment" value="good">Evil<br>
		    <input type="button" value="Filter" onclick="filterCharactersByAlignment()">
		</form><br>

		<form id='search_people' action='' method=''>
		<!--- this form does not submit directly, the button handles all the interaction with backend -->
		    <label> Search people for name starting with:</label>
		    <input id='name_search_string' type='text' name='name_search_string' value=''>
		    <input type="button" value="Search" onclick="searchCharactersByFirstName()">
		</form>

		<!-- ^^ WORK IN PROGRESS ^^ -->

		<h2>Current character list:</h2>
		<table>
			<thead>
				<th>Name</th>
				<th>Home Planet</th>
				<th>Moral Alignment</th>
			</thead>
			<tbody>
				{{#each character}}
				<tr>
					<td>{{name}}</td>
					<td>{{planet}}</td>
					<td>{{alignment}}</td>
					<td><button onclick="deletePerson({{id}})">Delete</button></td>
					<td><a href="/character/{{id}}">Update</a></td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</body>
</html>
