<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Marvel Planets</title>
	</head>

	<body>

		<h3>Add new planet:</h3>
		<form>
			Name: <input type="text" name="name"><br>
		    Realm: <select name="realm">
		        {{#each realm}}
		        <option value="{{id}}">{{name}}</option>
		        {{/each}}
		    </select><br>
			<input type="submit" value="Submit">
		</form><br />

		<h2>Current planet list:</h2>
		<table>
			<thead>
				<th>Name</th>
				<th>Realm</th>
			</thead>
			<tbody>
				{{#each planet}}
				<tr>
					<td>{{name}}</td>
					<td>{{realm}}</td>
					<td><button onclick="deletePlanet({{id}})">Delete</button></td>
					<td><a href="/planets/{{id}}">Update</a></td>
				</tr>
				{{/each}}
			</tbody>
		</table>

	</body>
</html>