<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Marvel Powers</title>
	</head>

	<body>

		<h3>Add new power:</h3>
		<form>
			Name: <input type="text" name="name"><br>
		    Description: <input type="text" name="description"><br>
			<input type="submit" value="Submit">
		</form><br />

		<h3>Edit a power on a character:</h3>
		<form>
			Power: <select name="power">
		        {{#each power}}
		        <option value="{{id}}">{{name}}</option>
		        {{/each}}
		    </select><br>
			Character: <select name="character">
		        {{#each character}}
		        <option value="{{id}}">{{name}}</option>
		        {{/each}}
		    </select><br>
			<input type="submit" value="Add">
			<input type="submit" value="Remove">
		</form><br />

		<!-- SEARCH & FILTER OPTIONS IN PROGRESS -->

		<h3>Search and filter:</h3>
		<form id='filter_powers' action='' method=''>
		<!--- this form does not submit directly, the button handles all the interaction with backend -->
		    <label> Filter by power: </label>
		    <select id='power_filter' name="power">
		        {{#each power}}
		        <option value="{{id}}">{{name}}</option>
		        {{/each}}
		    </select><br>
		    <input type="button" value="Filter" onclick="filterByPower()"><br><br>
		</form>

		<form id='filter_character' action='' method=''>
		<!--- this form does not submit directly, the button handles all the interaction with backend -->
		    <label> Filter by character: </label>
		    <select id='character_filter' name="character">
		        {{#each character}}
		        <option value="{{id}}">{{name}}</option>
		        {{/each}}
		    </select><br>
		    <input type="button" value="Filter" onclick="filterPowerByChar()"><br><br>
		</form>


		<h2>Current powers list:</h2>
		<table>
			<thead>
				<th>Name</th>
				<th>Description</th>
				<th>Used by # of Characters</th>
			</thead>
			<tbody>
				{{#each power}}
				<tr>
					<td>{{name}}</td>
					<td>{{description}}</td>
					<td>{{numChars}}</td>
					<td><button onclick="deletePower({{id}})">Delete</button></td>
					<td><a href="/powers/{{id}}">Update</a></td>
				</tr>
				{{/each}}
			</tbody>
		</table>

		<h2>Current character/power list:</h2>
		<table>
			<thead>
				<th>Power</th>
				<th>Character</th>
			</thead>
			<tbody>
				{{#each powerChar}}
				<tr>
					<td>{{name}}</td>
					<td>{{charName}}</td>
				</tr>
				{{/each}}
			</tbody>
		</table>

	</body>
</html>