<html>
<h1>Update {{selectWeapon.name}}:</h1>
<form id="update-weapon" action="/weapons" method="post">
    Name: <input type="text" name="name" value="{{selectWeapon.name}}"><br>
    Description: <input type="text" name="description" value="{{selectWeapon.description}}"><br>
    Wielder: <select name="wielder" id="character-selector"> 
		<option value="none">None</option>
        {{#each character}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
</form>
<button onclick="updateWeapon({{selectWeapon.id}})">Update</button>
<script defer>selectCharacter({{selectWeapon.wielder}});</script>
</html>
