<html>
<style type="text/css">
    body {
      background-color: #401515;
      color: white;
      font-family: arial;
      background-image: url("https://i.imgur.com/V3mfvJy.png");
      background-repeat: repeat;
    }
    input, select, button {
      border-radius: 5px;
      padding: 3px;
      margin: 5px;
      color: white;
      background-color: #000000;
      border: 2px solid #af0000;
    }
    .area {
      border-radius: 5px;
      padding: 2px;
      margin: 5px;
      color: white;
      background-color: rgba(0, 0, 0, 0.1);
      border: 2px solid #af0000;
    }
    a:link {
      color: white;
      text-decoration: none;
      font-weight: bold;
    }
    a:visited {
      color: white;
      text-decoration: none;
    }
    a:hover {
      color: red;
      text-decoration: none;
    }
    a:active {
      color: yellow;
      text-decoration: none;
    }
</style>

<h1>Update {{selectChar.name}}:</h1>
<form id="update-character" action="/characters" method="post">
    Name: <input type="text" name="name" value="{{selectChar.name}}"><br>
    Homeworld: <select name="homeplanet" id="planet-selector"> 
		<option value="none">None</option>
        {{#each planets}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    Alignment: <input type="radio" name="alignment" value="1" checked="checked" required>Good
    <input type="radio" name="alignment" value="2">Evil<br>
</form>
<button onclick="updateChar({{selectChar.id}})">Update</button>
<script defer>selectPlanet({{selectChar.homeplanet}});</script>
</html>
