<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Marvel Weapons</title>
	</head>

	<body>

		<h3>Add new weapon:</h3>
		<form id="addweapon" action="/weapons" method="post">
			Name: <input type="text" name="name"><br>
			Description: <input type="text" name="description"><br>
		    Wielder: <select name="wielder">
		    	<option value="none">None</option>
		        {{#each character}}
		        <option value="{{id}}">{{name}}</option>
		        {{/each}}
		    </select><br>
			<input type="submit" value="Submit">
		</form><br />


		<!-- SEARCH & FILTER OPTIONS IN PROGRESS -->

		<h3>Search and filter:</h3>
		<form id='filter_weapon' action='' method=''>
		<!--- this form does not submit directly, the button handles all the interaction with backend -->
		    <label> Filter by character: </label>
		    <select id='weapon_filter' name="weapon">
		        {{#each character}}
		        <option value="{{id}}">{{name}}</option>
		        {{/each}}
		    </select><br>
		    <input type="button" value="Filter" onclick="filterWeaponsByChar()"><br><br>
		</form>


		<h2>Current weapons list:</h2>
		<table>
			<thead>
				<th>Name</th>
				<th>Description</th>
				<th>Wielder</th>
			</thead>
			<tbody>
				{{#each weapon}}
				<tr>
					<td>{{name}}</td>
					<td>{{description}}</td>
					<td>{{wielder}}</td>
					<td><button onclick="deleteWeapon({{id}})">Delete</button></td>
					<td><a href="/weapons/{{id}}">Update</a></td>
				</tr>
				{{/each}}
			</tbody>
		</table>

	</body>
</html>